@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

body {
    font: 18px/135% 'Lato', sans-serif;
}

body::before {
    content: "";
    display: block;
    height: 8px;
    width: 100%;
    background: #57C7F8;
    background: linear-gradient(90deg, #8A1A1A 0%, #57C7F8 100%);
}

body > svg {
    display: none;
}

button {
    border: none;
}

h1, h2, h3, h4, nav, .btn {
    font-family: 'Poppins', sans-serif;;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    margin-left: 5vw;
    margin-right:5vw;
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
}

header > div:last-of-type {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logoHolder a {
    display: inline-block;
    width: 180px;
}

.logoHolder a:hover,
.logoHolder a:focus,
.logoHolder a:active {
    opacity: .65;
}

nav ul {
    list-style: none;
}

nav li {
    font-weight: 600;
    display: inline-block;
}

nav a {
    color: #000;
    padding: .35em 1.15em;
}


nav a:hover,
nav a:focus,
nav a:active {
    color: #5BBCE9;
}

nav li:last-of-type a,
.btn {
    background: #5BBCE9;
    border-radius: 15px;
    color: #fff;
}

nav li:last-of-type a {
    margin-right: 2em;
}

nav li:last-of-type a:hover,
nav li:last-of-type a:focus,
nav li:last-of-type a:active {
    background: #000;
}

.profileHolder a {
    color: #555;
    display: flex;
    align-items: center;
}

.profileHolder a img {
    background: url("imgs/user.jpg");
    background-size: cover;
    display: block;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    margin-left: .75em;
}

.profileHolder a span {
    display: block;
}

.profileHolder a:hover,
.profileHolder a:focus,
.profileHolder a:active {
    opacity: .75;
}

.holder {
    margin: 0 auto;
    max-width: 90vw;
}

.promo > h2 {
    text-align: center;
    margin-bottom: 1em;
    background: #57C7F8;
    background: linear-gradient(30deg, #8A1A1A 0%, #57C7F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.promoItem {
    background: url("imgs/promo1.jpg") 50% 50% no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 500px;
}

.promoItem h4 {
    margin-top: .5em;
}

.promoItem p {
    margin-top: 1em;
}

.promoItem p a {
    margin-top: .5em;
    display: inline-block;
}

.promoItemContent {
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 2em;
    text-align: center;
    width: 100%;
}

.promoItemContent h4 a {
    color: #C8E9F9;
}

.promoItemContent > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

.promoItemContent > div {
    margin: 0 auto 2em;
    background: #3F6DB1;
    padding: 1em;
    width: content-box;
}

.btn {
    padding: .35em 1.15em;
    font-weight: bold;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #000;
}

.events,
.people {
    margin-top: 3em;
}

.events h1,
.people h1 {
    text-align: center;
    font-size: 4em;
}

.eventsItem {
    border: 2px solid #C8E9F9;
    border-radius: 15px;
    margin-top: 2em;
}

.eventsItem h2 a {
    color: #000;
}

.eventsItemHeader {
    padding: 2em;
}

.eventsItemHeader h4 {
    margin-top: .5em;
}

.eventsItem > div:nth-last-of-type(odd) {
    background: #C8E9F9;
    padding: 1em 2em;
    color: #3F6DB1;
}

.eventsItemDate {
    display: flex;
    justify-content: space-between;
}

.eventsItemDate p {
    width: auto;
}
.eventsItem span {
    margin-left: 20px;
}
.eventsItemDetails > div {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    padding-bottom: 1.5em;
}
.eventsItemDetails > h4 {
    margin-left: 36px;
}
.eventsItemDetails img{
    max-width: 50%;
    height: fit-content;
    float: right;
    left:0;
    padding: 10px ;
}

.eventsItemUsers {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    
}
.eventsItemUsers > div{
    height: 100px ;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.eventsItemUsers > div:first-of-type {
    justify-content: center;
    display: flex;
    gap: 1em
}

.eventsItemUsers img {
    border-radius: 50%;
    max-width: 100px;
}

footer {
    background: #57C7F8;
    background: linear-gradient(90deg, #8A1A1A 0%, #57C7F8 100%);
    color: #fff;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
footer div:first-of-type{
    width: max-content;
    display: flex;
    flex-direction: row;
}
footer div:first-of-type nav{
    width: max-content;
    display: flex;
    align-items: center;
}
footer .logoHolder svg {
    fill: #fff;
}

footer nav a {
    color: #fff;
}
footer div:last-of-type{
    width: min-content;
}
footer div:last-of-type p{
    width: 210px;
    text-align: center;
}
.hidden {
    display: none;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    top: 0;
}

.modal p {
    margin-top: 1em;
}

.modal div {
    background: #fff;
    color: #000;
    border-radius: 1em;
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
    padding: 2em
}

.modal div#close {
    background: url("imgs/close.svg");
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    margin-top: -.5em;
}

.modal form {
    margin-top: 1em;
}

input, textarea {
    border: 1px solid #C8E9F9;
    border-radius: 15px;
    padding: 1em;
    display: block;
    width: 100%;
    margin-bottom: .5em;
}

button[type="submit"] {
    font-size: 1.15em;
    margin-top: .5em;
}

.about {
    background: #57C7F8;
    background: linear-gradient(90deg, #8A1A1A 0%, #57C7F8 100%);
    color: #fff;
    padding: 4em;
}

.about > div > div {
    background: url("imgs/ill.svg") 100% 50% no-repeat;
    background-size: contain;
    padding-right: 40%;
}

.about h1 {
    font-size: 3em;
    line-height: 115%;
}

.about p {
    margin-top: 1em;
}

.about .btn {
    border-radius: 20px;
    font-size: 1.5em;
    display: inline-block;
    margin-top: .5em;
    padding: .5em 1.5em;
}

.introduction {
    margin: 4em 0;
    text-align: center;
}

.introduction > div {
    display: flex;
    margin-top: 1em;
    gap: 3em
}

.introduction > div > div {
    background: url("imgs/i-exchange.svg") 50% 10% no-repeat;
    background-size: 5em;
    padding-top: 7em;
    flex: 1;
    margin-top: 1em;
}

.introduction > div > div:first-of-type {
    background: url("imgs/i-practice.svg") 50% 0 no-repeat;
    background-size: 6.5em;
}

.introduction > div > div:last-of-type {
    background: url("imgs/i-community.svg") 50% 5% no-repeat;
    background-size: 4.85em;
}

.introduction h3 {
    margin: .5em 0 1em;
}

.eventsAndPeople {
    margin-top: 4em;
    display: flex;
    gap: 2em;
}

.eventsAndPeople > div {
    flex: 1;
}
.eventsAndPeopleEvent div div{
    width: 12%;
}
.eventsAndPeopleEvent,
.eventsAndPeoplePerson {
    border: 2px solid #C8E9F9;
    border-radius: 15px;
    margin-top: 1em;
    padding: 0 2em 0 0;
    display: flex;
    gap: 1em
}

.eventsAndPeopleEvent > div {
    flex: 1;
}

.eventsAndPeopleEvent > div:first-of-type {
    padding: 1em 0 1em 1em;
}

.eventsAndPeopleEvent > div:first-of-type div {
    background: #5BBCE9;
    color: #fff;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: .85em;
    position: absolute;
    padding: .5em .75em;
}

.eventsAndPeopleEvent > div:last-of-type {
    padding: 1em 0;
}

.eventsAndPeopleEvent h2,
.eventsAndPeoplePerson h2 {
    font-size: 1.15em;
}

.eventsAndPeopleEvent h4 {
    color: #555;
    margin-top: .25em;
    font-size: 1em;
}

.eventsAndPeopleEvent h4 a {
    color: #3F6DB1;
}

.eventsAndPeopleEvent p:not(:last-of-type) {
    font-size: .85em;
    margin: 1em 0 0;
}

.eventsAndPeopleEvent > div > p:last-of-type {
    margin-top: 2em;
}

.eventsAndPeopleEvent img {
   border-radius: 15px;
   width: 100%;
}

.eventsAndPeoplePerson {
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;;
}

.eventsAndPeoplePerson > div {
    display: flex;
    align-items: center;
    padding: 1em 0;
    gap: 1em;
}

.eventsAndPeoplePerson h2 {
    margin-bottom: .5em;
}

.eventsAndPeoplePerson img {
    border-radius: 50%;
    max-width: 100px;
    margin-left: 1em
}

.eventsAndPeoplePerson p {
    font-size: .85em;
    margin-top: .25em;
    padding-bottom: .25em;
}

.eventsAndPeoplePerson p:not(:last-of-type) {
    border-bottom: 1px solid #C8E9F9;
}

.eventsAndPeoplePerson p b {
    color: #3F6DB1;
    display: inline-block;
    width: 8em;
}

.peopleFeatured {
    margin-top: 4em;
}

.person {
    text-align: center;
}

.person > div:first-of-type {
    background: url("imgs/banner.jpg") 0 50% no-repeat;
    background-size: cover;
    height: 400px;
}

.person > div:nth-of-type(2) {
    margin: -380px 0 2em;
}

.person > div:last-of-type p:last-of-type {
    margin-top: 2em;
}

.person img {
    border-radius: 50%;
    display: block;
    max-width: 420px;
    margin: 0 auto;
}

.person p {
    margin: 1em auto 0;
    max-width: 800px;
}

.person ul {
    list-style: none;
}

.person li {
    display: inline-block;
}

.person li:not(:last-of-type) {
    margin-right: 2em;
}

.person li p::before {
    content: "";
    height: 1.25em;
    width: 1.25em;
    display: inline-block;
    background: url("imgs/i-lang.svg") 50% 50% no-repeat;
    background-size: contain;
    margin: 0 .25em -.25em 0;
}

.person li:nth-of-type(2) p::before {
    background-image: url("imgs/i-map.svg");
}

.person li:nth-of-type(3) p::before {
    background-image: url("imgs/i-hobby.svg");
}

.person ul {
     list-style: none;
 }

.person li {
    display: inline-block;
}

.person li:not(:last-of-type) {
    margin-right: 2em;
}

.person li p::before {
    content: "";
    height: 1.25em;
    width: 1.25em;
    display: inline-block;
    background: url("imgs/i-lang.svg") 50% 50% no-repeat;
    background-size: contain;
    margin: 0 .25em -.25em 0;
}

.person li:nth-of-type(2) p::before {
    background-image: url("imgs/i-map.svg");
}

.person li:nth-of-type(3) p::before {
    background-image: url("imgs/i-hobby.svg");
}

.personEvents {
    background: #C8E9F9;
    margin-top: 4em;
    padding: 2em 0;
}

.personEvents h2 {
    color: #3F6DB1;
    text-align: center;
    margin: 1em;
}

.personEvents > div > div {
    display: flex;
    gap: 1em
}

.personEvents > div > div > div {
    flex: 1;
}

.personEvents .eventsAndPeopleEvent {
    background: #fff;
}

.personFeatured {
    background: url("imgs/banner.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 400px;
}
@media screen and (max-width:1194px){
    .about > div > div{
        background: none;
        padding: 0;
    }
}
@media screen and (max-width:1050px){
    .eventsAndPeople{
        display: flex;
        flex-direction: column;
    }
    .eventsAndPeopleEvent div div{
        width: 30%;
    }
}

@media screen and (max-width:940px) {
    header{
        align-items:center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        padding-top: 10px;
        height: fit-content;
    }
    header > div:last-of-type > .profileHolder{
        align-self: flex-end;
    }
    header .logoHolder{
        margin-top: 10px;
        z-index: 1;
        position: absolute;
        display: flex;
        justify-self: center;
    }
    header .profileHolder{
        display: grid;
        align-items: flex-start;
        align-self: flex-start;
        width: 200px;
        margin-right: 0;
        margin-bottom:10px ;
    }  
    header .profileHolder a{
        width: 200px;
        margin-left: 20px;
    } 
    header > div:last-of-type{
        width: 90vw;
        display: flex;
        flex-direction: column;
    }
    .dropbtn {
        display: block;
        border: none;
        width: 25px;
        height: 5px;
        background-color: #000;
        
      }
    .dropdown::before{
      display: block;
      width: 25px;
      height: 5px;
      background-color: black;
      content: "";
      border-bottom: 5px solid white;
      border-top: 15px solid #fff;
    }
    
    .dropdown::after{
      display: block;
      width: 25px;
      height: 5px;
      background-color: black;
      content: "";
      border-top: 5px solid white;
    }
    
    .dropdown {
      z-index: 1;
      position: absolute;
      display: inline-block;
      cursor: pointer;
      pointer-events: auto;
      width: 30px;
      align-self:flex-start;
    }
    .dropdown:hover nav {display: block;}
    .dropdown:hover {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .dropdown nav {
        margin-top: 10px;
        display: none;
        position: absolute;
        width: 220px;
    }
    .dropdown nav ul{
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 2px solid #5BBCE9;
        border-radius: 15px;
        background-color: #fff;    
    }
    .dropdown nav ul li{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .dropdown nav ul li a{
        margin: 0%;
    }

    footer, footer nav, footer nav ul{
        display: flex;
    }
    footer{
        height: fit-content;
        align-items: center;
        flex-direction: row;
    }
    footer div:last-of-type{
        align-self: flex-end;
    }
    footer div:last-of-type p {
        align-self: flex-start;
    }
    footer div nav ul{
        flex-direction: column;
        gap: 1em;
        align-items:flex-start;
    }
    footer div nav ul li a:last-of-type{
        display: flex;
        margin-right: 0;
    }
    footer .logoHolder{
        display: block;
        padding-left: 22px;
    }
    footer div:first-of-type{
        display: flex;
        gap:0.5em;
        flex-direction: column;
        align-items: flex-start;
    }

    .introduction > div{
        display: flex;
        flex-direction: column;
    }
}   
@media screen and (max-width:764px) {
    header > div:last-of-type{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }
    header > .logoHolder{
        position: relative;
    }
    header > div:last-of-type > .profileHolder{
        align-self: flex-start;
    }
    .dropdown{
        height:20px ;
        z-index: unset;
        position: relative;
    }
    .dropdown nav {
        margin-top: 10px;
        width: 90vw;
    }
    .dropdown nav ul{
        padding: none;
        border: none;
        background-color: transparent;
    }
    .dropdown nav ul li{
        width: inherit;
        margin-bottom: 10px;
        border: 2px solid #5BBCE9;
        border-radius: 15px;
    }

    .dropdown nav ul li:first-of-type{
        margin-top: 10px;
    }

    .dropdown nav ul li:last-of-type{
        border: none;
        width: auto;
    }

    .dropdown nav ul li a{
        width: 100%; 
    }
    .dropdown:hover {
        height: 210px;
    }
    .eventsAndPeoplePerson{
        flex-direction: column;
        gap: unset;
    }
    .eventsAndPeoplePerson > div{
        padding: 0;
        padding-top: 10px;
    }
    .eventsAndPeoplePerson > div:last-of-type{
        padding-bottom: 10px;
    }
}